Flask
gunicorn
Flask-SQLAlchemy
python-dotenv

Flask
Flask-Cors
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Moment
Flask-SocketIO
Flask-SQLAlchemy
gunicorn
SQLAlchemy
python-dotenv
Jinja2
MarkupSafe
itsdangerous
Werkzeug